/* ========= HEADER ========= */

.badge {
  display: block;

  text-align: center;

  color: var(--color-primary);

  font-size: var(--fs-sm);
  font-weight: 600;

  letter-spacing: 2px;
  text-transform: uppercase;

  margin-bottom: var(--spacing-md);
}

.title {
  text-align: center;
  font-size: var(--fs-4xl);
  margin-bottom: var(--spacing-lg);
}

.title span {
  color: var(--color-primary);
}

.description {
  max-width: 700px;
  margin: 0 auto var(--spacing-3xl);

  text-align: center;

  color: var(--color-text-secondary);
  line-height: 1.7;
}

/* ========= CATEGORY ========= */

.category {
  margin-bottom: var(--spacing-3xl);
}

.categoryTitle {
  font-size: var(--fs-xl);
  font-weight: 600;

  color: var(--color-text);

  margin-bottom: var(--spacing-xl);

  padding-bottom: var(--spacing-sm);

  border-bottom: 2px solid var(--color-surface-light);
}

/* ========= GRID ========= */

.grid {
  display: flex;
  flex-direction: column;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: var(--spacing-md);
}

/* ========= SKILL CARD ========= */

.skillCard {
  background: var(--color-surface);

  border: 1px solid var(--color-surface-light);
  border-radius: var(--radius-lg);

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  justify-content: start;

  padding: var(--spacing-lg);
  min-height: 120px;

  gap: var(--spacing-lg);

  transition: var(--transition-normal);

  cursor: default;
}
.skillCard:hover {
  transform: translateY(-6px);
  border-color: var(--color-primary);
  box-shadow: var(--shadow-md);
}
.skillCard:hover .skillIcon {
  transform: scale(1.1);
}

.skillIcon {
  font-size: 2.5rem;
  color: var(--color-primary);
  transition: var(--transition-normal);
}

.skillName {
  font-size: var(--fs-md);

  font-weight: 600;

  color: var(--color-text);

  text-align: center;
}

/* ========= TABLETTE ========= */

@media (max-width: 1024px) {
  .title {
    font-size: var(--fs-3xl);
  }

  .skillsGrid {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }

  .skillCard {
    width: 100%;
  }
}

/* ========= MOBILE ========= */

@media (max-width: 768px) {
  .title {
    font-size: var(--fs-2xl);
  }

  .description {
    margin-bottom: var(--spacing-2xl);
  }

  .categoryTitle {
    text-align: center;
  }

  .skillsGrid {
    grid-template-columns: repeat(2, 1fr);

    gap: var(--spacing-lg);
  }

  .skillCard {
    width: 100%;
    min-height: 110px;

    padding: var(--spacing-md);

    gap: var(--spacing-md);
  }

  .skillIcon {
    font-size: 2rem;
  }

  .skillName {
    font-size: var(--fs-sm);
  }
}
